Source: libxml-srs-perl
Section: perl
Priority: optional
Build-Depends: debhelper (>= 5)
Build-Depends-Indep: perl (>= 5.6.10-12)
Maintainer: Sam Vilain <sam.vilain@catalyst.net.nz>
Standards-Version: 3.8.0
Homepage: http://search.cpan.org/dist/XML-SRS/

Package: libxml-srs-perl
Architecture: all
Depends: ${perl:Depends}, ${misc:Depends}, libregexp-common-perl, libprang-perl (>= 0.11), libmoosex-params-validate-perl, libmoosex-timestamp-perl (>= 0.06), libcrypt-password-perl (>= 0.05), libmoose-perl (>= 0.54), libmoosex-aliases-perl 
Description:  Shared Registry System XML Protocol
 This module is an implementation of the XML protocol used by the .nz
 registry.  This protocol was developed in 2002, using what were
 considered stable XML standard methods at the time, such as SGML DTD.
 This compares to the now de-facto standard, EPP (RFC3730, friends and
 updates), which was developed using XML Schema and XML Namespaces.  As
 such, the SRS protocol as a stable standard far pre-dates EPP, which
 took a further 2 years to reach 1.0 status.
 .
 This description was automagically extracted from the module by dh-make-perl.
